:root{
    --White: #FFFFFF;
    --Red: #C8ABAB;
    --Cyan: #AFCBD0;
    --Yellow: #C9B9A5;
    --Gray:#C5C5C5;
    --Orange: hsl(34, 97%, 64%);
    --Blue: #77818A;
    --Gray: #C5C5C5;
    --Gray-Dark: #858585;
    --Dark-Blue: hsl(234, 12%, 34%);
    --Gray-Blue: hsl(229, 6%, 66%);

    font-family: Amiko;
    font-familly: "Roboto-Mono";
    }

    body{
      background-color: #F7F7F7;
      
    }

    h1{
      font-weight:600;
      font-size: 32px;
      line-height: 15px;
      color: rgba(0, 0, 0, 0.4);
    }
    h2{
      font-weight:200;
      font-size: 22px;
      line-height: 15px;
      color: var(--Dark-Blue);
    }

    h3{
      font-weight:200;
      font-size: 15px;
      line-height: 21px;
      color: var(--Gray);
    }

    p{
      text-align: left;
      margin-top: 30px;
      margin-bottom: 50px;
      color: var(--Gray-Blue);
      font-size: 15px;
      font-weight: 100;
    }

    .container{
      min-height:100%px;
      height:100%px;
;
    }

    a{
      color: var(--Gray);
      transition: 0.5s;
      text-decoration: none
    }

     a:visited{
      color: var(--Gray);
    }

    a:hover{
      color: var(--Gray-Dark);
      transition: 0.3s;
    }

    .nav-link.active{
      color: var(--Gray-Dark);
    }



    .header{

      max-width: 100%;
      margin:auto;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 80px;
      display:grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: 
        "home links"
        "intro intro";
      text-align: center;
    }

    .home{
      grid-area: home;
      font-weight:600;
      font-size: 32px;
      line-height: 15px;
      color: rgba(0, 0, 0, 0.4);

    }



    .links{
      background-color: #F7F7F7;
      display: flex;
      flex-direction: row;
      grid-area: links;
      font-family:"Roboto Mono";
      font-weight: 200;
      color: (var(--Gray));
      margin: auto;
      margin-right: 0px;

    }

    .nav-item{
      color: #495057;
    }

    .nav-link {
  background: none;
  border: 0;
  border-radius: 0.25rem;
}

    .intro{
      grid-area: intro;
      font-family:"Roboto Mono";
      font-weight: 400;
      color:var(--Gray-Dark);
      margin-bottom: 40px;
    }

    .card-grid{
      height:800px;
      display: grid;
      grid-gap: 16px;
      margin:auto;
      grid-template-columns: auto 10% 10% 10% 10% 10% 10% 10% auto;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

    }

    .card-grid.right{
      
      grid-template-areas: 
      ". card2 card2 card2 card1 card1 card1 card1 ."
      ". card2 card2 card2 card1 card1 card1 card1 ."
      ". card2 card2 card2 card1 card1 card1 card1 ."
      ". card3 card3 card3 card1 card1 card1 card1 ."
      ". card3 card3 card3 card4 card4 card5 card5 ."
      ". card3 card3 card3 card4 card4 card5 card5 ."

    }


    .card-grid.left{

      grid-template-areas: 
      ". card1 card1 card1 card1 card2 card2 card2 ."
      ". card1 card1 card1 card1 card2 card2 card2 ."
      ". card1 card1 card1 card1 card2 card2 card2 ."
      ". card1 card1 card1 card1 card3 card3 card3 ."
      ". card4 card4 card5 card5 card3 card3 card3 ."
      ". card4 card4 card5 card5 card3 card3 card3 ."

    }


   @media screen and (max-width: 500px)
   {

    h1{ font-size: 22px; line-height:18px; }
    h2{ font-size: 22px; line-height:18px; }

    .card-grid{
      display:grid;
      max-width: 90%;
      grid-template-columns: auto 95% auto;
      grid-template-rows: repeat(5, 200px) ;
    }

    .card-grid.right{
      grid-template-areas: ". card2 ." ". card1 ." ". card3 ." ". card4 ."". card5 .";
    }
    .card-grid.left{
      grid-template-areas: ". card2 ." ". card1 ." ". card3 ." ". card4 ."". card5 .";
    }

    .header{
      display:grid;
      max-width: 100%;
      grid-template-columns: auto;
      grid-template-areas: "links" "home" "intro";
    }



    .intro{
      font-size: 11.5px;
    }


   }
   @media screen and (max-width: 700px) and (min-width: 500px)
   {
    .header{
      margin-top: 0;
      display:grid;
      grid-gap: 20px;
      max-width: 100%;
      grid-template-columns: auto;
      grid-template-rows: 50px 20px 80px;
      grid-template-areas: "links" "home" "intro";
    }
    .card-grid{
      display:grid;
      max-width: 100%;
      grid-template-columns: auto 95% auto;
      grid-template-rows: repeat(5, 200px) ;
    }

    .card-grid.right{
      grid-template-areas: ". card2 ." ". card1 ." ". card3 ." ". card4 ."". card5 .";
    }
    .card-grid.left{
      grid-template-areas: ". card2 ." ". card1 ." ". card3 ." ". card4 ."". card5 .";
    }
     .intro{
      font-size: 13px;
    }

    h1{ font-size: 28px; line-height:18px; }
    h2{ font-size: 28px; line-height:18px; }
    p{ font-size: 14px; }
    .card-heading h1{ font-size: 24px; }

   }

   .img {
    max-width: 100%;
    max-height: 100%;
}

    .card-content{
      position:relative ;
      padding: 5%;
      height: 85%;
      display: grid;
      grid-template-columns: 15px 1fr 1fr 1fr ;
      grid-template-rows: auto auto 80px;
      grid-template-areas: ". . . icon" ". heading heading ." ". subheading subheading subheading ";
    }



    .card-heading {
      border-bottom: 1px solid white;
      padding-bottom: 5px;
      max-width:90%;
      grid-area: heading;
      font-size: 18px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.55);
      text-transform: uppercase;
      position: absolute;
      bottom: 10%;
    } 

    .card-heading:hover{
      transition:0;
    }


    .card-heading.alt{
      border-bottom: 1px solid var(--Gray);
    }

    .card-subheading {
      padding-top: 5px;
      font-family:"Roboto Mono";
      max-width:90%;
      grid-area: subheading;
      font-size: 14px;
      font-weight: 300;
      color: white;
    }
    .card-subheading.alt {
      color: var(--Gray);

    }

    .card-icon{
      grid-area: icon;
      float: right;
      margin-left: auto;
      margin-right: 20px;
      margin-top: 20px;

    }

    .card {
      transition: 0.5s;
      height:100%;
      border-radius: 1px;
    }

    .card:hover{
      opacity: 0.8;
      transition: 0.3s;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

     
    }

    .card.manolin{ 
      grid-area: card1;
      background-color: var(--Cyan);
    }

    .card.deloitte{
      grid-area: card2;
      background-color: var(--Blue);
    }

    .card.growsquares{
      grid-area: card3;
      background-color: var(--Yellow);
    }

    .card.visuals{
      grid-area: card4;
      background-color: var(--Red);
    }

    .card.dataviz{
      grid-area: card5;
      background-color: var(--Gray);
    }

    .card.architecture{ 
      grid-area: card1;
      background-color: var(--White);
    }



    .card.illustration{
      grid-area: card2;
      background-color: var(--Red);
    }

    .card.games{
      grid-area: card3;
      background-color: var(--Blue);
    }

    .card.video{
      grid-area: card4;
      background-color: var(--Gray);
    }

    .card.photo{
      grid-area: card5;
      background-color: var(--Yellow);
    }



    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>