:root{
    --White: #FFFFFF;
    --Red: #C8ABAB;
    --Cyan: #AFCBD0;
    --Yellow: #C9B9A5;
    --Gray:#C5C5C5;
    --Orange: hsl(34, 97%, 64%);
    --Blue: #77818A;
    --Gray: #C5C5C5;
    --Gray-Dark: #858585;
    --Dark-Blue: hsl(234, 12%, 34%);
    --Gray-Blue: hsl(229, 6%, 66%);

    font-family: Amiko;
    font-familly: "Roboto-Mono";
    }

    body{
      
    }

    h1{
      font-weight:600;
      font-size: 32px;
      line-height: 15px;
      color: rgba(0, 0, 0, 0.4);
    }
    h2{
      font-weight:200;
      font-size: 22px;
      line-height: 15px;
      color: var(--Dark-Blue);
    }

    h3{
      font-weight:200;
      font-size: 15px;
      line-height: 21px;
      color: var(--Gray);
    }

    p{
      text-align: left;
      margin-top: 30px;
      margin-bottom: 50px;
      color: var(--Gray-Blue);
      font-size: 15px;
      font-weight: 100;
    }

    .container{
      min-height:100%px;
      height:100%px;
;
    }

    .header{
      max-width: 600px;
      margin:auto;
      margin-top: 80px;
      text-align:center;
    }

    .intro{
      font-family:"Roboto Mono";
      font-weight: 400;
      color:var(--Gray-Dark);
      margin-bottom: 40px;
    }


    .card-grid{
      height:800px;
      display: grid;
      grid-gap: 16px;
      margin:auto;
      grid-template-columns: auto 10% 10% 10% 10% 10% 10% 10% auto;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      ". card2 card2 card2 card1 card1 card1 card1 ."
      ". card2 card2 card2 card1 card1 card1 card1 ."
      ". card2 card2 card2 card1 card1 card1 card1 ."
      ". card3 card3 card3 card1 card1 card1 card1 ."
      ". card3 card3 card3 card4 card4 card5 card5 ."
      ". card3 card3 card3 card4 card4 card5 card5 ."


    }

   @media screen and (max-width: 500px)
   {
     .card-grid{
      display:grid;
      max-width: 90%;
      grid-template-columns: auto 90% auto;
      grid-template-areas: ". card1 ." ". card2 ." ". card3 ." ". card4 ."". card5 .";
    }
    h1{ font-size: 22px; line-height:18px; }
    h2{ font-size: 22px; line-height:18px; }


   }
   @media screen and (max-width: 700px) and (min-width: 500px)
   {
    .card-grid{
      display:grid;
      max-width: 100%;
      grid-template-columns: auto 90% auto;
      grid-template-areas: ". card1 ." ". card2 ." ". card3 ." ". card4 ." ". card5 .";
    }
    .header{ max-width: 85%; }
    h1{ font-size: 28px; line-height:18px; }
    h2{ font-size: 28px; line-height:18px; }
    p{ font-size: 14px; }
    .card-heading h1{ font-size: 24px; }

   }

   .img {
    max-width: 100%;
    max-height: 100%;
}

    .card-content{

      position:relative ;
      padding: 5%;
      height: 85%;
      display: grid;
      grid-template-columns: 15px 1fr 1fr 1fr ;
      grid-template-rows: auto auto 80px;
      grid-template-areas: ". . . icon" ". heading heading ." ". subheading subheading subheading ";
    }



    .card-heading {
      border-bottom: 1px solid white;
      max-width:90%;
      grid-area: heading;
      font-size: 18px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.55);
      text-transform: uppercase;
      position: absolute;
      bottom: 10%;
    } 

    .card-subheading {
      padding-top: 5px;
      font-family:"Roboto Mono";
      max-width:90%;
      grid-area: subheading;
      font-size: 14px;
      font-weight: 300;
      color: white;
    }

    .card-icon{
      grid-area: icon;
      float: right;
      margin-left: auto;
      margin-right: 20px;
      margin-top: 10px;

    }

    .card {
      height:100%;
      border-radius: 1px;
    }

    .card:hover{
      opacity: 0.7;
      transition: 0.5s;
     
    }

    .manolin{ 
      grid-area: card1;
      background-color: var(--Cyan);
    }



    .deloitte{
      grid-area: card2;
      background-color: var(--Blue);

    }

    .growsquares{
      grid-area: card3;
      background-color: var(--Yellow);

    }

    .visuals{
      grid-area: card4;
      background-color: var(--Red);
    }

    .dataviz{
      grid-area: card5;
      background-color: var(--Gray);

    }

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>